#jumpBtn {
    width: 40%;
    display: inline-block;
    cursor: pointer;
    background-color: #5D7714;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-family: 'Jost';
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 13px;
    transition: transform 0.2s;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 15px rgba(0,
            0, 0, 0.3);
}

#jumpBtn:hover {
    transform: scale(1.1);
}

/*footer menu*/
.footer-menu {
    width: 35%;
    height: 60%;
    margin-left: 7%;
    margin-top: 4%
}

.footer-menu>tbody>tr>td>a {
    text-align: left;
    color: #ae8b75;
    font-size: 23px;
    font-family: 'Jost';
    font-weight: 500;
    word-wrap: break-word;
    width: 50%;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-menu>tbody>tr>td>a:hover {
    color: #d7c5ba;
}

.footer-menu>tbody>tr>td>a.active {
    color: #ffffff;
}

/*header menu*/
.header-menu {
    display: flex;
    align-items: center;
    display: flex;
    width: 90%;
    justify-content: flex-end;

}

.header {
    display: flex;
    height: 130px;
    position: relative;
    background: #5e7153;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.header-menu>div>a {
    text-align: left;
    color: #9abc70;
    font-size: 20px;
    font-family: 'Jost';
    font-weight: 500;
    word-wrap: break-word;
    width: 20%;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
    padding: 10px;
    margin: 0;
}

.header-menu>div>a:hover {
    color: #FFFFFF;
}

.header-menu>div>a.active {
    color: #FFFFFF;
}

/*Bar chart effect*/
.u-progress-container {
    position: relative;
    width: 40%;
    height: 50px;
    border-radius: 25px;
    background-color: gray;
    /* Adjust as necessary */
    margin: auto;
}

.u-text-above {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Jost';
    cursor: pointer;
    z-index: 10;
}

.u-progress-bar {
    width: 0%;
    height: 100%;
    background-color: orange;
    border-radius: 25px;
    transition: width 2s;
    /* Animation time */
}

.u-text-below {
    z-index: 10;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Jost';
    opacity: 0;
    transition: opacity 2s;
    /* Animation time */
    transition-delay: 1s;
    /* Delay to match progress bar animation */
}

/*Bar chart effect*/
.k-progress-container {
    position: relative;
    width: 40%;
    height: 50px;
    border-radius: 25px;
    background-color: gray;
    /* Adjust as necessary */
    margin: auto;
}

.k-text-above {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Jost';
    cursor: pointer;
    z-index: 10;
}

.k-progress-bar {
    width: 0%;
    height: 100%;
    background-color: orange;
    border-radius: 25px;
    transition: width 2s;
    /* Animation time */
}

.k-text-below {
    z-index: 10;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Jost';
    opacity: 0;
    transition: opacity 2s;
    /* Animation time */
    transition-delay: 1s;
    /* Delay to match progress bar animation */
}

/*bulblos box*/
.bulblos-box {
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./image/WhatsApp\ Image\ 2024-04-24\ at\ 10.38.22.jpeg);
    background-position: center;
    background-size: cover;
}

.bulblos-inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 60%;
    background: #403323;
    border-radius: 40px;
    transition: transform 0.3s, background-color 0.3s;
}

.bulblos-inner-box:hover {
    background-color: #34291c;
}

/*discover our*/
.discover-our-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 85%;
    height: 400px;
    background: #5E7153;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    margin-top: 100px;
    transition: background-color 0.3s;
    flex-direction: row;
}

.discover-our-button {
    padding: 16px 60px;
    background-color: #fcfce4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: transform 0.2s;
}

.discover-our-button:hover {
    transform: scale(1.1);
}

.discover-our-box:hover {
    background-color: #536449;
}

.discover-our-image {
    width: 80%;
    display: inline-block;
    border-radius: 50%;
    line-height: 0;
    transition: transform 0.3s ease;
    overflow: hidden
}

.discover-our-image:hover {
    transform: scale(1.1);
}

/*plant doctor*/
.plant-doctor-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: relative;
    width: 85%;
    height: 400px;
    background: #617B17;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    margin-top: 100px;
    transition: background-color 0.3s;
    flex-direction: row-reverse;
}

.plant-doctor-button {
    padding: 16px 60px;
    background-color: #fcfce4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: transform 0.2s;
}

.plant-doctor-button:hover {
    transform: scale(1.1);
}

.plant-doctor-box:hover {
    background-color: #526815;
}

.plant-doctor-image {
    width: 80%;
    transition: transform 0.3s ease;
}

.plant-doctor-image:hover {
    transform: scale(1.1);
}

/*Plant library*/
.library-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 20px 20px;
    background: #e7e7e7;
    border-radius: 15px;
    width: 85%;
    height: 300px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    transform: 0.3s;
    box-shadow: 0 0 10px rgba(0,
            0, 0, 0.8);
    overflow: hidden;
    border-width: 0px;
}

.library-card:hover {
    transform: scale(1.1);
}

.plant-image {
    width: 300px;
    height: 300px;
    display: block;
    margin-bottom: 10px;
    transition: transform 0.4s;
}

.select-plant-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 85%;
    height: 400px;
    background: #5E7153;
    border-radius: 60px;
    transition: background-color 0.3s;
    flex-direction: row;
    animation: slideRightAnimation 2s ease-out;
    margin-top: 50px;
    margin-bottom: 50px;
}

.select-plant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.select-plant-box>div>div {
    font-family: "Jost";
    color: #fcfce4;
    font-size: 20px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

@keyframes slideRightAnimation {
    from {
        transform: translateX(-150%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideLeftAnimation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.plant-image:hover {
    transform: scale(1.5);
}

.plant-select {
    position: relative;
    width: 100%;
    margin: 30px;
    padding: 20px;
}

/* select元素样式 */
select#plantSelect {
    text-align: center;
    width: 40%;
    /* 让选择框占满整个容器宽度 */
    padding: 10px;
    /* 添加一些内边距使选择框更易点击 */
    border: 4px solid #783E19;
    /* 给选择框添加一个简单的边框 */
    border-radius: 25px;
    /* 边角圆润 */
    background-color: #f3e3da;
    /* 轻微的背景颜色 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    /* 添加轻微的阴影效果 */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* 文本大小 */
    color: #783E19;
    /* 文本颜色 */
    cursor: pointer;
    /* 鼠标悬停时的手形指针 */
    appearance: none;
    /* 移除浏览器默认样式 */
    -moz-appearance: none;
    -webkit-appearance: none;
    /* 在这里可以添加更多自定义样式 */
}


/* 美化options */
select#plant-select option {
    padding: 5px;
    /* 给options添加内边距 */
    background: #b4d2bd;
    /* 设置options的背景色 */
    color: #5E7153;
    /* 设置options的文本颜色 */
}

/* 隐藏默认下拉箭头，以便使用自定义样式 (需要在JS中进一步处理来添加自定义箭头) */
select#plantSelect::-ms-expand {
    display: none;
}

/* 在选择框的右侧添加自定义下拉图标 */
.plantSelect:after {
    content: '\25BC';
    /* 下拉箭头字符 */
    position: absolute;
    top: 50%;
    right: 15px;
    pointer-events: none;
    /* 防止图标影响选择操作 */
    color: #333;
    transform: translateY(-50%);
}

.image-container {
    width: 250px;
    /* 设置div的固定宽度 */
    height: 250px;
    /* 设置div的固定高度 */
    display: flex;
    /* 使用flex布局使图片居中 */
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    overflow: hidden;
    /* 超出部分隐藏 */
    border-radius: 10px;
}

.image-container img {
    max-width: 400px;
    /* 图片最大宽度不超过div的宽度 */
    max-height: 600px;
    /* 图片最大高度不超过div的高度 */
    height: auto;
    /* 自动调整高度保持宽高比 */
    width: auto;
    /* 自动调整宽度保持宽高比 */
}

/*modeling*/

#wizard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 300px;
    background: #5E7153;
    border-radius: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0,
            0, 0, 0.3);
}

.step {
    display: none;
    margin-bottom: 1em;
}

.step.active {
    display: block;
}

h2 {
    color: #333;
}

.option-container {
    margin-bottom: 1em;
}

.option {
    display: inline-block;
    cursor: pointer;

    height: 50px;
    width: 220px;


    background-color: #fcfce4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #5E7153;
    font-family: 'Jost';

    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: transform 0.2s;

    box-shadow: 0 0 15px rgba(0,
            0, 0, 0.3);
}

.option:hover {
    transform: scale(1.1);
}

.option:hover .bubble {
    visibility: visible;
    transform: scale(1);
}

.option.selected {
    background-color: #a7aca8;
}

.option .bubble {
    border-radius: 10px;
    background-color: #fcfce4;
    position: absolute;
    width: 90%;
    visibility: hidden;
    text-align: center;

    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -50%;
    padding: 5%;

    transform-origin: bottom;
    transform: scale(0);
    transition: visibility 0s, transform 0.3s ease-in-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.button-previous {
    display: inline-block;
    cursor: pointer;

    height: 50px;
    width: 150px;

    background-color: #ae8b75;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Jost';

    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: transform 0.2s;

    box-shadow: 0 0 15px rgba(0,
            0, 0, 0.3);
}

.button-previous:hover {
    transform: scale(1.1);
}

.button-next {
    display: inline-block;
    cursor: pointer;

    height: 50px;
    width: 150px;

    background-color: #ae8b75;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Jost';

    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: transform 0.2s;

    box-shadow: 0 0 15px rgba(0,
            0, 0, 0.3);
}

.button-next:hover {
    transform: scale(1.1);
}

.button-submit {
    display: inline-block;
    cursor: pointer;

    height: 50px;
    width: 150px;

    background-color: #ae8b75;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Jost';

    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: transform 0.2s;

    box-shadow: 0 0 15px rgba(0,
            0, 0, 0.3);
}

.button-submit:hover {
    transform: scale(1.1);
}

#results {
    margin-top: 2em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 20px 20px;
    background: #e7e7e7;
    border-radius: 15px;
    width: 19%;
    height: 300px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    transform: 0.3s;
    box-shadow: 0 0 10px rgba(0,
            0, 0, 0.8);
    overflow: hidden;
    border-width: 0px;
}

.card:hover {
    transform: scale(1.1);
}

.card-nav {
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 150px;
    background-color: #ae8b75;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    font-family: 'Jost';
    margin: 25px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    transition: transform 0.2s;
    box-shadow: 0 0 15px rgba(0,
            0, 0, 0.3);
}

.card-nav:hover {
    transform: scale(1.1);
}

.image-container-modeling {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-width: 0px;
    padding: 0px;
}

.plant-image-modeling {
    width: 400px;
    display: block;
    margin-bottom: 10px;
    transition: transform 0.4s;
}

.plant-image-modeling:hover {
    transform: scale(1.5);
}

.plant-card-box {
    justify-content: center;
    width: 100%;
}

/*quiz*/

.image-container-quiz {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-width: 0px;
    padding: 0px;
}

.discription-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 600px;
    background: #783E19;
    transition: background-color 0.3s;
    flex-direction: row;
    margin-bottom: 50px;
    box-shadow: 0 0 20px rgba(0,
            0, 0, 1);
}

.discription-box:hover {
    background-color: #5f3114;
}

.plant-image-quiz {
    width: 1200px;
    display: block;
    transition: transform 0.4s;
}

.plant-image-quiz:hover {
    transform: scale(1.5);
}

.test-button {
    padding: 16px 60px;
    background-color: #5D7714;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: transform 0.2s;
    color: #ffffff;
    font-family: 'Jost';
    font-size: 25px;
    font-weight: 300;
}

.test-button:hover {
    transform: scale(1.1);
}

/*quiz*/

.quiz-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #536449;
    border-radius: 20px;
    height: 350px;
    flex-direction: column;
    font-size: 23px;
    color: #FFFFFF;
    font-family: 'Jost';
    /*animation: slideRightAnimation 2s ease-out;*/
    box-shadow: 0 0 20px rgba(0,
            0, 0, 1);
}

.quiz-button {
    display: inline-block;
    cursor: pointer;

    height: 50px;
    width: 150px;

    background-color: #fcfce4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: #5E7153;
    font-family: 'Jost';
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: transform 0.2s;

    box-shadow: 0 0 15px rgba(0,
            0, 0, 0.3);
}

.quiz-button:hover {

    transform: scale(1.1);
}